.sidebar{
    height: 100%;
}

.api-page{
    padding: 30px 20px;
    background-color: #f5f5f5;
}

.api-page a{
    text-decoration: none;
}

.api-page__header{
    display: flex;
}

.api-page__header-content{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding-left: 20px;
}

.api-page__header .plusCircle-icon{
    vertical-align: baseline;
}

.api-page__filter {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 8px;
    box-shadow: 10px;
}

.api-page__filter-content{
    font-size: 1.1rem;
    font-weight: 600;
    color:rgb(102, 102, 102);
    margin: 0;
}

.api-page__list-filter .form-item{
    font-weight: 600;
    font-family: 'Noto Sans';
}

.api-page__list-filter .button{
    width: 100px;
}

.api-page__list-apis {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px;
}

.api-page__action-text--edit,
.api-page__action-text--delete{
    padding-top: 0.2rem;
}

.api-page__action--edit{
    color: gray;
}

.api-page__action--delete{
    color: red;
    cursor: pointer;
}

.api-page__button {
    width: 100%;
    padding: 0 10px;
    background-color: #1081E8;
}

.api-page__bonus-footer{
    display: absolute;
    margin-top: -60px;
    padding: 20px;
}

.api-page__bonus-footer p{
    font-size: 0.9rem;
}