$primary-color: #001529;

.header{
    background-color: $primary-color;

    .logo {
        width: 50%;
        height: 32px;
        margin: 16px;
        background: #f5f5fa;
    }
}

.footer{
    margin-top: 5rem;
    background-color: $primary-color;
    min-height: 10rem;
    vertical-align: baseline;
}