$primary-color: #FFF;

.header{
    background-color: $primary-color;
    box-shadow: 1px 1px 5px 5px #cecdcd;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
    // z-index: 5;

    .logo {
        width: 50%;
        height: 36px;
        margin: 16px;
    }
}

.content{
    // margin-top: 10rem;
}

.footer{
    margin-top: 5rem;
    padding-top: 3rem;
    background-color: $primary-color;
    min-height: 8rem;
    vertical-align: baseline;
    box-shadow: -1px -1px 5px 5px #cecdcd;

    p{
        font-weight: 500;
        font-size: 1.1rem;
        // margin-top: 5rem;
    }
}