.container-payment{
    min-height: 100vh;
    min-width: 100vw;
    .payment
    {
        margin-top: 20%;
        .payment_header
        {
            border:1px solid #f2f2f2;
            border-radius:10px;
            background:#fff;
            // box-shadow: 1px -1px 5px 5px rgb(231, 229, 229);
            padding:30px 100px 40px 100px;
            border-radius: 20px 20px 10px 10px;

            .check
            {
                margin:0px auto;
                border-radius:100%;
                // background:#fff;
                text-align:center;
            }

            .success-text
            {
                font-size: 1.8rem;
                padding: 1.2rem 0 0.5rem;
                color:rgb(3, 175, 60);
                font-weight: 700;
            }

            .fail-text
            {
                font-size: 1.8rem;
                padding: 1.2rem 0 0.5rem;
                color:rgb(239,72,124);
                font-weight: 700;
            }
            .pending-text
            {
                font-size: 1.8rem;
                padding: 1.2rem 0 0.5rem;
                color:rgb(74,127,254);
                font-weight: 700;
            }
            
        }
    }

    .content 
    {
        text-align:center;
        border:1px solid #f2f2f2;
        border-radius:10px 10px 20px 20px;
        background:#fff;
        padding: 30px 150px;
        // box-shadow: 0px 0px 1px 1px rgb(231, 229, 229);
        
        .content-detail{
            // padding: 5px;

            p{
                font-size: 16px;
            }

            .title{
                font-weight: 500;
            }
        }

    }

}

.btn-home {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 124, 240);
    padding: 0 20px;
    border: none;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    outline: 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
}